body {
    margin: 0;
  }
  img {
    display: block;
    object-fit: cover;
    text-align: center;

  }
  .container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 350px;
    
    /* background-image: radial-gradient(
      circle at 50% -20.71%,
      #fbf3e6 0,
      #f9eddd 10%,
      #f7e5d3 20%,
      #f5ddc9 30%,
      #f4d3bf 40%,
      #f2c9b5 50%,
      #f0beac 60%,
      #efb5a6 70%,
      #edaba1 80%,
      #eca39f 90%,
      #e99b9f 100%
    ); */
    background-image: linear-gradient(
      180deg,
      #fabfff 0,
      #aef6ff 25%,
      #b99df2 50%,
      #8cc5d6 75%,
      #7ba2bc 100%
    );
  }
  .content {
    padding: 10px;
  }
  .content--datos {
    text-align: center;
    border-right: 2px solid rgb(242 60 60 /0.3);
  }
  .encabezado {
    display: flex;
    align-items: center;
  }
  
   .ima-foto{
    width: 100px;
    height: 100px;
    

  }
  .title {
    margin-top: 0;
    font-size: 2em;
    font-weight: bold;
    color: black;
    flex-grow: 1;
  }
  .enunciado {
    margin-top: 50px;
  }
  .subtitle {
    font-size: 1.6em;
  }
  .paragraph {
    font-size: 1.1em;
  }
  
  .content--perfil {
    text-align: center;
  }
  .img-perfil {
    margin: auto;
    max-width: 40%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .perfil .subtitle {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(242 60 60 /0.3);
  }
  .perfil__datos {
    font-weight: bold;
    color: blue;
  }
  .modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 /0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: -10;
  }
  .modal__content {
    max-width: 500px;
    width: 500px;
    padding: 10px;
    background-image: linear-gradient(
      180deg,
      #adffff 0,
      #a4ffff 25%,
      #9df2f2 50%,
      #97dade 75%,
      #92c5cb 100%
    );
    border-radius: 5px;
  }
  .modal--show {
    opacity: 1;
    z-index: 1;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .modal__contenido div {
    padding: 10px;
    flex-grow: 1;
  
    text-align: right;
  }
  
  .modal__contenido div:not(.modal__contenido div:last-child) {
    border-right: 1px solid darkcyan;
    text-align: left;
  }
  .modal__subtitle {
    font-size: 1.2em;
    color: deeppink;
    font-weight: bold;
  }
  
 